* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: url("../assets/back.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
