@media (max-width: 768px) {
  nav {
    height: auto;
  }

  .div_logo {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .div_links {
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  header {
    height: auto;
  }

  .div_empresa {
    width: 95%;
    margin: 200px auto 40px auto;
    height: auto;
  }

  .div_empresa h1,
  .titulo_estrutura,
  .titulo_visao,
  .titulo_frota,
  .titulo_regioes,
  .titulo_diferenciais,
  .titulo_contato {
    font-size: 32px;
    text-align: center;
  }

  .div_texto_frota {
    position: static;
    margin: 30px auto;
    width: 90%;
  }

  .div_button {
    position: static;
    margin: 20px auto;
  }
}
